:root {
    background-color: rgb(77, 77, 77);
    font-size: calc(0.8em + 0.4vw);
}

body {
    margin: 0;
    color: rgb(212, 212, 212);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.jquery-logo {
    width: 6em;
    padding: 0.3em;
    margin-left: 1em;
}

#bullet {
    position: fixed;
    width: 1em;
    top: 1.3em;
    left: -100em;
    height: 7px;
    background-color: black;
    border: none;
    z-index: 2;
    box-shadow: 0 0 20px 10px rgb(0, 255, 42);
}

#header {
    position: fixed;
    display: inline-flex;
    align-items: center;
    z-index: 2;
    margin: 0;
    background-color: rgb(161, 161, 161);
    width: 100%;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px black;
    font-weight: 600;
    letter-spacing: 2px;
}

#user_comments {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    flex-direction: column;
    margin: 3em auto 5em;
    width: calc(35em + 8vw);
    text-align: center;
}

.comment {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px rgb(245, 255, 108);
    padding: 0.4em;
}
#user_comments > div:last-child {
    margin-bottom: 6em;
}

#user_comments>div>button {
    align-self: flex-end;
    margin-top: 0.3em;
    border: 1px solid rgb(195, 202, 89);
    background-color: rgb(77, 77, 77);
    color: rgb(171, 179, 72);
}

#user_comments>div>button:hover {
    border-color: rgb(255, 243, 72);
    box-shadow: 0 0 5px 0 rgb(255, 187, 187);
    color: rgb(255, 226, 61);
}

#input_area {
    display: grid;
    grid-template-areas: 
    ". . ."
    "label-name name name"
    "label-comment text-btns ."
    "comment comment submit"
    ". . .";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 8% 23% 21% 45% 3%;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100%;
    height: 8em;
}

.lbl-name {
    grid-area: label-name;
    margin: 0;
    margin-left: 2em;
    padding: 0;
}

#input_name {
    grid-area: name;
    outline: none;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 5px;
    width: 30%;
    height: 80%;
    background-color: gray;
    cursor: default;
    color: rgb(245, 255, 108);
    font-size: 0.9em;
    caret-color: white;
    padding: 0;
    text-indent: 15px;
}

.lbl-comment {
    grid-area: label-comment;
    margin: 0;
    margin-left: 1em;
    align-self: end;
}

.input-btns-wrapper {
    display: flex;
    grid-area: text-btns;
    align-self: end;
    justify-content: center;

}

.btn-text {
    margin-right: 2em;
    padding: 0 0.6em;
    border-radius: 10em;
    width: auto;
    font-size: 0.9em;
    height: 1.6em;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}


#input_comment {
    grid-area: comment;
    outline: none;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 5px;
    background-color: gray;
    cursor: default;
    overflow: hidden;
    color: rgb(245, 255, 108);
    font-size: 0.9em;
    caret-color: white;
    height: 80%;
    margin-left: 0.4em;
    text-indent: 15px;
}

.submit {
    grid-area: submit;
    width: auto;
    margin: auto;
    padding: 1em;
}

label {
    margin: 1em;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    margin-left: 2em;
    outline: none;
    border-radius: 4px;
    background-color: rgb(54, 54, 54);
    width: 6em;
    color: rgb(255, 238, 0);
    font-weight: 100;
}

.user_name {
    margin-left: 1em;
    text-align: left;
    color: rgb(84, 167, 179);
    font-size: 0.95em;
    font-weight: 900;
}

.user_comment {
    padding: 1em;
    text-align: left;
    color: rgb(205, 214, 82);
    font-size: 0.9em;
    font-weight: 400;
}

.date {
    margin-left: 1em;
    margin-bottom: 0;
    text-align: left;
    color: rgb(128, 123, 123);
    font-size: 0.75em;
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(77, 104, 102, 0.918);
}

.modal-window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    box-shadow: 0 0 25px 2px rgba(0, 114, 66, 0.452);
    width: 25em;
    text-align: center;
}

.modal-name {
    outline: none;
    border: none;
    background-color: gray;
    cursor: default;
    width: 90%;
    height: 2em;
    text-align: center;
    color: rgb(238, 255, 0);
    font-family: 'Roboto', sans-serif;
}

.modal-comment {
    outline: none;
    border: none;
    background-color: gray;
    cursor: default;
    width: 90%;
    height: 12em;
    overflow: hidden;
    resize: none;
    color: rgb(238, 255, 0);
    font-family: 'Roboto', sans-serif;
}

.modal-ok {
    margin: 1em auto 0;
}

.modal-cancel {
    margin: 0.5em auto;
}

.date {
    margin-bottom: 0;
}

.edited {
    color: rgb(165, 170, 167);
    letter-spacing: 5px;
    text-align: left;
    margin-left: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0;
    font-size: 0.55rem;
}


.hidden {
    display: none;
}

.modal-error {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 20%;
    line-height: 1.5em;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgb(141, 0, 0);
    padding: 2em 4em;
    border: 1px solid rgb(196, 0, 0);
    color: white;
    text-shadow: 0 0 2px white;
    z-index: 999;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgb(255, 22, 22);
}

