:root {
    --main-bg: rgb(232, 234, 236);
    --header: rgb(247, 247, 247);
    --section-name: rgb(27, 18, 44);
    --links: rgb(0, 116, 136);
    --text: rgb(22, 22, 22);
    --border: rgb(238, 237, 238);
    --area: transparent;
    --categories-background: #540397;
    --categories-text: rgb(255, 255, 255);
    --recommended-product-shadow: #540397;
    --recommended-product-background: white;
    --recommended-product-border: gray;
    --recommended-product-text: black;
    --product-background: white;
    --product-border: gray;
    --product-text: black;
    --product-add-to-cart-btn-background: #540397;
    --product-add-to-cart-btn-text: white;
    --product-price-background: rgb(207, 100, 0);

}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: var(--main-bg);
    color: var(--text);
}


*::-webkit-scrollbar {
    width: 0.7em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(207, 198, 209);

}

*::-webkit-scrollbar-thumb {
    background-color: rgb(98, 91, 109);
    outline: 2px solid rgb(255, 255, 255);

}

a {
    text-decoration: none;
    color: var(--links);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
}


.area {
    border: 1px solid var(--border);
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: var(--area);
}


header.area {
    padding: 0;
    margin: 0;
    height: 6em;
    background-color: var(--header);
    border-bottom: 1px solid black;
}

header form {
    min-width: 50%;
    display: flex;
}

header form input {
    flex: 1 1 auto;
}

div.logo.area {
    padding: 0;
    margin: 2em;
    border: none;
}

div.logo.area>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

}

#tornado {
    width: 7em;
    animation-name: spin;
    animation-duration: 29000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 0;
    padding-right: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-logo {
    display: block;
    height: 4em;
    padding: 0;
    margin: 0;
    margin-left: -1.2em;
}

.account-buttons {
    display: flex;
    align-items: center;
    align-content: center;
}

button {
    height: 3em;
    box-shadow: 0px 0px 5px 1px #f2f2ff5e;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    border-radius: 3px;
    text-align: center;
}

.log-btn {
    font-size: 1em;
    border-radius: 3px;
    border: solid 0px #255e8c;
    color: #FFFFFF;
    background: linear-gradient(360deg, #4e1386 100%, #aa22e9 56%);
    box-shadow: 0px 10px 14px -7px #616174;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin: 0 4em;
    height: 3em;
}

.log-btn:hover {
    background: linear-gradient(360deg, #b72bca 26%, #451386 100%);
}

.log-btn:active {
    position: relative;
    top: 1px;
}

.log-btn>span {
    display: block;
}

.btn-login-text {
    color: white;
}

#btn-login-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    width: 3.5em;
    padding-left: 0.3em;
    padding-right: 0.5em;

}

#btn-login-text {
    padding: 0.6em 1em;
}

#btn-logout {
    margin: 0 5em 0 -3em;
    display: none;
}

#cart {
    font-size: 1em;
    border-radius: 3px;
    border: solid 0px #255e8c;
    color: #FFFFFF;
    background: linear-gradient(360deg, #4e1386 100%, #aa22e9 56%);
    box-shadow: 0px 10px 14px -7px #616174;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    outline: none;
    height: 3em;
}

#cart:hover {
    background: linear-gradient(360deg, #b72bca 26%, #451386 100%);
}

#cart:active {
    position: relative;
    top: 1px;
}

#cart>span {
    display: block;
}

#cart-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    width: 3.5em;
    padding-left: 0.3em;
    padding-right: 0.5em;
}

#cart-text {
    padding: 0.6em 1em;
}

.section-name {
    font-size: 1.5em;
    margin: 1em 0 1.5em 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: var(--section-name);
    text-shadow: 0 0 2px rgb(152, 2, 172);
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    user-select: none;
}

.content {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* CATEGORIES START */

.categories {
    display: flex;
    justify-content: space-evenly;
}

.products-column {
    display: flex;
    flex-direction: row;
    width: 28em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul.products-column > {
    width: 25em;
}

ul.products-column>li {
    width: 100%;
    background-color: var(--categories-background);
    border-radius: 5px;
    text-align: left;
    padding: 0.1em 0.5em;
    margin: 2em 0;
    margin-top: 0;
    transition: all 0.2s linear;

}

ul.products-column>li>a {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.products-column>li:hover {
    box-shadow: 0 0 10px 2px var(--recommended-product-shadow), inset 0 0 5px 1px white;
}

ul.products-column>li:hover > a> img {
    filter: drop-shadow(0px 0px 3px  rgba(255, 0, 255, 0.856));
}

ul.products-column>li>a>img {
    width: 3.5em;
    height: 3.5em;
    margin: 0.5em 0 0.5em 0.5em;
    object-fit: contain;

}

ul.products-column>li>a>p {
    color: var(--categories-text);
    font-weight: 300;
    font-size: 1.1em;
    cursor: pointer;
    margin: auto;
}

/* CATEGORIES END */







.item-info {
    display: flex;
    align-items: stretch;
}

.item-info>* {
    flex: 1 1 50%;
}

.thumbs {
    width: 100%;
    display: flex;
}

.thumbs>button {
    display: block;
    width: 5rem;
    height: 5rem;
    display: flex;
    padding: 0;
    margin: 0;
}

.thumbs>button>img {
    width: 100%;
    height: 100%;
}

.item-slider {
    width: 100%;
    display: flex;
}

.item-slider>div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review>.title {
    display: flex;
    justify-content: space-between;
    background: rgb(230, 230, 230);
}



/* RECOMMENDED PRODUCTS START */

#recommended-products-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: auto;
    margin-bottom: 3em;

}

.recommended.product-container {
    width: 25em;
    height: 36em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em 0.5em;
    border: 1px solid var(--recommended-product-border);
    border-radius: 5px;
    background-color: var(--recommended-product-background);
    color: var(--recommended-product-text);
    box-shadow: 0 0 10px 0px var(--recommended-product-shadow);
}


.recommended.product-container>a>img {
    width: 15em;
    height: 15em;
    object-fit: contain;
}


/* RECOMMENDED PRODUCTS END */



/* FOOTER START */

footer {
    display: grid;
    grid-template:
        "visa footer mastercard"
        "visa social mastercard";
    flex-direction: column;
    min-height: 3rem;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: #4e1386;
    color: white;
}

footer>p {
    grid-area: footer;
    font-weight: 300;
    margin: 0;
    padding-top: 2em;
}


.visa {
    grid-area: visa;
    width: 7em;
}

.mastercard {
    grid-area: mastercard;
    width: 7em;
}

.social-networks-block {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network-ico {
    margin: 2em 1em 2em;
    user-select: none;
}

.social-network-ico>img {
    width: 2em;
}

/* FOOTER END */



/* SEARCH & FILTERS START */
.products-panel {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin-left: 0;
    padding-left: 0;
}


.area.search {
    position: relative;
    top: 5.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.area.search > input {
    margin-top: -1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: none;
    height: 3em;
    width: 20em;
    text-align: center;
    box-shadow: 0 0 3px var(--product-add-to-cart-btn-background);
    outline: none;
    font-family: 'Roboto', sans-serif;

}

.area.search > button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    align-self: flex-end;
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
margin: 0em auto 2em auto;
padding: 0 8.45em;
}

.filters.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox.area {
    align-self: center;
    margin: 2em 0;
}

.price.area {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

/* SEARCH & FILTERS END */


/* PRODUCTS START */

.products.area {
    width: 80%;
}

.products-content {
    display: flex;
    align-items: stretch;
}


.products-list {
    display: flex;
    min-height: 85vh;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto 3em auto;
}


.product-container {
    position: relative;
    width: 25em;
    height: 31em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em 0.5em;
    border: 1px solid var(--product-border);
    border-radius: 5px;
    background-color: var(--product-background);
    color: var(--product-text);
    box-shadow: 0 0 5px 0 var(--recommended-product-shadow);
    user-select: none;
   
}

.product-container::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-out;
    z-index: 0;
}



.product-container:hover::before {
    opacity: 1;
    box-shadow: inset 0 0 10px var(--product-price-background);
}



.product-container>a {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.product-container>a>img {
    width: 10em;
    height: 10em;
    margin-top: 5em;
    object-fit: contain;
    transition: all 0.4s ease-out;
}

.product-container:hover > a > img {
    margin-top: 0.5em;
}

.product-container>a>h3 {
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    color: var(--product-price-background);

}



.product-container>p {
    font-size: 0.8em;
    margin: auto 0.5em;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
    display: block;
    text-align: center;
}

.product-container:hover > p  {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.product-container>em {
    position: relative;
    font-style: normal;
    top: -4em;
    background-color: var(--product-price-background);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 1em;
    transition: all 0.2s ease-out;
}

.product-container:hover > em {
    top: -0.6em;
}

.product-container>button {

    position: relative;
    font-family: 'Roboto', sans-serif;
    align-self: flex-end;
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    margin-left: auto;
    margin-right: auto;
}

#not-found-panda {
    width: 80%;
}
/* PRODUCTS END */




/* FILTERS START */

.filter-brand-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.filter-brand-container > input {

}

.filter-brand-container > p {
    margin: 0.3em 0 0.3em 0.4em;
}

/* FILTERS END */