:root {
    --main-bg: rgb(232, 234, 236);
    --header: rgb(247, 247, 247);
    --section-name: rgb(27, 18, 44);
    --links: rgb(0, 116, 136);
    --text: rgb(22, 22, 22);
    --area-border: transparent --area: transparent;
    --categories-background: #540397;
    --categories-text: rgb(255, 255, 255);
    --recommended-product-shadow: #540397;
    --recommended-product-background: white;
    --recommended-product-border: gray;
    --recommended-product-text: black;
    --product-background: white;
    --product-border: gray;
    --product-text: black;
    --product-add-to-cart-btn-background: #540397;
    --product-add-to-cart-btn-text: white;
    --product-price-background: rgb(207, 100, 0);
    font-size: calc(0.5em + 0.3vw);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: var(--main-bg);
    color: var(--text);
    outline: none;
}


*::-webkit-scrollbar {
    width: 0.7em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(207, 198, 209);

}

*::-webkit-scrollbar-thumb {
    background-color: rgb(98, 91, 109);
    outline: 2px solid rgb(255, 255, 255);

}

a {
    text-decoration: none;
    color: var(--links);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
}


.area {
    border: 1px solid var(--area-border);
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: var(--area);
}


header.area {
    padding: 0;
    margin: 0;
    height: 6em;
    background-color: var(--header);
    box-shadow: 0 0 15px 1px black;
    border-radius: 0;
}

header form {
    min-width: 50%;
    display: flex;
}

header form input {
    flex: 1 1 auto;
}

div.logo.area {
    padding: 0;
    margin: 2em;
    border: none;
}

div.logo.area>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

}

#tornado {
    width: 7em;
    animation-name: spin;
    animation-duration: 29000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 0;
    padding-right: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-logo {
    display: block;
    height: 4em;
    padding: 0;
    margin: 0;
    margin-left: -1.2em;
}

.account-buttons {
    display: flex;
    align-items: center;
    align-content: center;
}

button {
    height: 3em;
    box-shadow: 0px 0px 5px 1px #f2f2ff5e;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    border-radius: 3px;
    text-align: center;
    font-size: 1em;
}

.log-btn {
    font-size: 1em;
    border-radius: 3px;
    border: solid 0px #255e8c;
    color: #FFFFFF;
    background: linear-gradient(360deg, #4e1386 100%, #aa22e9 56%);
    box-shadow: 0px 10px 14px -7px #616174;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin: 0 4em;
    height: 3em;
}

.log-btn:hover {
    background: linear-gradient(360deg, #b72bca 26%, #451386 100%);
}

.log-btn:active {
    position: relative;
    top: 1px;
}

.log-btn>span {
    display: block;
}

.btn-login-text {
    color: white;
}

#btn-login-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    width: 3.5em;
    padding-left: 0.3em;
    padding-right: 0.5em;

}

#btn-login-text {
    padding: 0.6em 1em;
}

#btn-logout {
    margin: 0 5em 0 -3em;
    display: none;
}

#cart {
    font-size: 1em;
    border-radius: 3px;
    border: solid 0px #255e8c;
    color: #FFFFFF;
    background: linear-gradient(360deg, #4e1386 100%, #aa22e9 56%);
    box-shadow: 0px 10px 14px -7px #616174;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    outline: none;
    height: 3em;
}

#cart:hover {
    background: linear-gradient(360deg, #b72bca 26%, #451386 100%);
}

#cart:active {
    position: relative;
    top: 1px;
}

#cart>span {
    display: block;
}

#cart-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    width: 3.5em;
    padding-left: 0.3em;
    padding-right: 0.5em;
}

#cart-text {
    padding: 0.6em 1em;
}

.section-name {
    font-size: 1.5em;
    margin: 1em 0 1.5em 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: var(--section-name);
    text-shadow: 0 0 2px rgb(152, 2, 172);
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    user-select: none;
}

.content {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 29em;
}

/* CATEGORIES START */

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 30em;
}

.products-column {
    display: flex;
    flex-direction: row;
    width: 28em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul.products-column> {
    width: 25em;
}

ul.products-column>li {
    width: 100%;
    background-color: var(--categories-background);
    border-radius: 5px;
    text-align: left;
    padding: 0.1em 0.5em;
    margin: 2em 0;
    margin-top: 0;
    transition: all 0.2s linear;

}

ul.products-column>li>a {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.products-column>li:hover {
    box-shadow: 0 0 10px 2px var(--recommended-product-shadow), inset 0 0 5px 1px white;
}

ul.products-column>li:hover>a>img {
    filter: drop-shadow(0px 0px 3px rgba(255, 0, 255, 0.856));
}

ul.products-column>li>a>img {
    width: 3.5em;
    height: 3.5em;
    margin: 0.5em 0 0.5em 0.5em;
    object-fit: contain;

}

ul.products-column>li>a>p {
    color: var(--categories-text);
    font-weight: 300;
    font-size: 1.1em;
    cursor: pointer;
    margin: auto;
}

/* CATEGORIES END */

.item-info {
    display: flex;
    align-items: stretch;
}

.item-info>* {
    flex: 1 1 50%;
}


.item-slider {
    width: 100%;
    display: flex;
}

.item-slider>div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review>.title {
    display: flex;
    justify-content: space-between;
    background: rgb(230, 230, 230);
}



/* RECOMMENDED PRODUCTS START */

#recommended-products-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: auto;
    margin-bottom: 3em;
    min-height: 38em;

}

.recommended.product-container {
    width: 25em;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em 0.5em;
    border: 1px solid var(--recommended-product-border);
    border-radius: 5px;
    background-color: var(--recommended-product-background);
    color: var(--recommended-product-text);
    box-shadow: 0 0 10px 0px var(--recommended-product-shadow);
}


.recommended.product-container>a>img {
    width: 15em;
    height: 15em;
    object-fit: contain;
}


/* RECOMMENDED PRODUCTS END */



/* FOOTER START */

footer {
    display: grid;
    grid-template:
        "visa footer mastercard"
        "visa social mastercard";
    flex-direction: column;
    min-height: 3rem;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: #4e1386;
    color: white;
    margin-top: 10em;
}

footer>p {
    grid-area: footer;
    font-weight: 300;
    margin: 0;
    padding-top: 2em;
}


.visa {
    grid-area: visa;
    width: 7em;
}

.mastercard {
    grid-area: mastercard;
    width: 7em;
}

.social-networks-block {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network-ico {
    margin: 2em 1em 2em;
    user-select: none;
}

.social-network-ico>img {
    width: 2em;
}

/* FOOTER END */



/* SEARCH & FILTERS START */

.products-panel {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin-left: 0;
    padding-left: 0;
}


.area.search {
    position: relative;
    top: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area.search>input {
    margin-top: -1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: none;
    height: 3em;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 3px var(--product-add-to-cart-btn-background);
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.area.search>button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    align-self: flex-end;
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0em auto 2em auto;
    width: 100%;
    padding: 0 8.45em;
    font-size: 1em;
}

.filters.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox.area {
    align-self: center;
    margin: 2em 0;
    font-size: 1em;
}

.price.area {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-size: 1em;
}

.price.area input {
    font-size: 1em;
}


/* SEARCH & FILTERS END */


/* PRODUCTS START */

.products.area {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.products-content {
    display: flex;
    align-items: stretch;
}


.products-list {
    display: flex;
    min-height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto 3em auto;
}


.product-container {
    position: relative;
    width: 25em;
    height: 29em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em 0.5em;
    border: 1px solid var(--product-border);
    border-radius: 5px;
    background-color: var(--product-background);
    color: var(--product-text);
    box-shadow: 0 0 5px 0 var(--recommended-product-shadow);
    user-select: none;

}

.product-container::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-out;
    z-index: 0;
}



.product-container:hover::before {
    opacity: 1;
    box-shadow: inset 0 0 10px var(--product-price-background);
}



.product-container>a {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.product-container>a>img {
    width: 10em;
    height: 10em;
    margin-top: 3em;
    object-fit: contain;
    transition: all 0.4s ease-out;
}

.product-container:hover>a>img {
    margin-top: -0.1em;
}

.product-container>a>h3 {
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    color: var(--product-price-background);

}



.product-container>p {
    font-size: 0.8em;
    margin: auto 0.1em;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
    display: block;
    text-align: center;
}

.product-container:hover>p {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.product-container>em {
    position: relative;
    font-style: normal;
    top: -4em;
    background-color: var(--product-price-background);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 1em;
    transition: all 0.2s ease-out;
    font-size: 1.25em;
}

.product-container:hover>em {
    top: -0.6em;
}

.product-container>button {

    position: relative;
    font-family: 'Roboto', sans-serif;
    align-self: flex-end;
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    margin-left: auto;
    margin-right: auto;
}

#not-found-panda {
    width: 80%;
}

/* PRODUCTS END */




/* FILTERS START */

#sort {
    text-align: center;
    font-size: 0.95em;
    padding: 0.3em 0;
    text-align-last: center;
    outline: none;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 4px;
}

#filter-checkbox {
    border: none;
    min-height: 15em;

}

.filter-brand-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.filter-brand-container>input {}

.filter-brand-container>p {
    margin: 0.3em 0 0.3em 0.4em;
}

.price.area {
    border: none;
}

.price-text {
    color: gray;
}

.price-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.price-container>input {
    width: 8em;
    height: 2.5em;
    margin: 0 1em;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 4px;
    outline: none;
    text-align: center;
}

.price-container>input::-webkit-outer-spin-button,
.price-container>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#apply-sort {
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    margin: 2em 0;
    padding: 0.2em 1em;
}

/* FILTERS END */


/* ITEM INFO PAGE START */

#item-info-header {
    margin: 1em 0 1em 5em;
    font-weight: 300;
    border: none;

}

.product-main-info.area {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    border: none;
}

.product-main-info.area>* {
    margin-bottom: 2em;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.product-main-info.area b {
    font-weight: 300;
    color: rgb(5, 119, 119);
    font-size: 1em;
    margin-right: 0.5em;
}

meter::-webkit-meter-bar {
    margin-left: 0.5em;
    height: 1.1em;
    width: 7em;
    background: none;
    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;
    border-radius: 3px;
}

.add-to-cart-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
    align-items: center;
}

#add-to-cart {
    font-family: 'Roboto', sans-serif;
    background-color: var(--product-add-to-cart-btn-background);
    color: var(--product-add-to-cart-btn-text);
    padding: 0.3em 1em;
    font-size: 0.8em;
}

#product-price>em {
    font-size: 1.2em;
    background-color: var(--product-price-background);
    color: white;
    padding: 0.3em 1em;
    border-radius: 1em;
}

#product-quantity {
    width: 5em;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 3px;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1em;
    padding: 0.6em;
}

.overview-specifications-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.area-title {
    display: flex;
    width: 100%;
    padding-left: 5em;
    align-items: center;
}

.area-title>.title {
    cursor: pointer;
    user-select: none;
}

.accordion-btn {
    margin-left: auto;
    margin-right: 4em;
    border: none;
    height: 1.5em;
    padding: 0;
    user-select: none;
}

.accordion-btn:hover {
    transform: scale(1.1);
}

.overview.area {
    display: flex;
    flex-direction: column;
    width: 70em;
    text-align: center;
}

.specifications.area {
    display: flex;
    flex-direction: column;
    width: 70em;
    text-align: center;
}

.accordion-body {
    margin: 1em 3em;
    max-height: 0;
    border-bottom: 3px solid #540397;
    transition: all linear;
    overflow: hidden;
}

.accordion-body>p {
    padding: 1em 3em 2em 3em;
    margin: auto;

}

#product-description {
    font-size: 1.1em;
    padding: 1em 5em 1em 2em;
    text-align: left;
    margin-bottom: 3em;
    line-height: 1.7em;
    font-weight: 300;
}

#product-description>i {
    font-family: Arial, Helvetica, sans-serif;
}

#product-description>a {
    color: rgb(142, 22, 255);
}

.reviews.area {
    margin-top: 15em;
}

#specs-table {
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
    margin-bottom: 2em;
    margin-left: 1em;
    font-weight: 300;
}

#specs-table td {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 0.7em 1em;
    font-size: 1em;
}

#specs-table td:first-child {
    border: none;
}

.hint-column {
    width: 1em;
    padding: 0 !important;

}

.hint-ico {
    position: relative;
    width: 1.6em;
    user-select: none;
}

.hint-text {
    display: none;
    width: 22em;
    box-shadow: 0 0 7px rgb(12, 158, 158), inset 0 0 5px 1px rgb(12, 158, 158);
    background-color: rgb(10, 100, 100);
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: 300;
}

.hint-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.hint-container:hover .hint-text {
    position: absolute;
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    margin-left: -25em;
    margin-top: -7em;
    color: rgb(255, 255, 255);
}

#comments-accordion {
    padding-top: 3em;
}

#comments-render-area {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

#comments-render-area>div {
    width: 60em;
    box-shadow: 0 0 4px 0 #540397;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 3em;
    align-self: center;
}

#comments-render-area>div:last-child {
    margin-bottom: 7em;
}



.comments-title-container {
    display: flex;
    align-items: center;
}


.comments-title-container>h4 {
    font-size: 1.1em;
}

.comments-title-container>img {
    margin-left: 2em;
    margin-right: 0.4em;
    width: 1.3em;
}

.comments-title-container>p {
    font-weight: 300;
    font-size: 0.9em;
}

.comment-body i{
    font-family: Arial, Helvetica, sans-serif;
}


/* ITEM INFO PAGE END */


/* 404 */

#not-found {
    text-align: center;
    margin: 5em;
    min-height: 60vh;
}

#not-found>img {
    width: 40em;
    margin-bottom: 6em;
}
