:root {
	font-size: calc(0.8em + 0.3vw);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	margin: 0;
	background-image: linear-gradient(to top, #ffffff, #f8f7fb, #f0f0f7, #e9e8f4, #e1e1f0);
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

.input-container {
	margin-top: 4rem;
	width: 100%;
	text-align: center;
}

#input-field {
	outline: none;
	border-width: 4px;
	border-radius: 7px;
	border-color: rgb(100, 32, 163);
	background-color: whitesmoke;
	width: 20em;
	text-align: center;
	color: rgb(5, 5, 4);
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

#btn-submit {
	margin-left: 0;
	outline: none;
	border-width: 3px;
	border-radius: 7px;
	border-color: rgb(100, 32, 163);
	background-color: rgb(100, 32, 163);
	width: 2.5em;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.18em;
}

ul {
	text-align: center;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	margin: 1em 1em 1em 0;
	list-style: none;
}

input[type="checkbox"] {
	margin-right: 0.9em;
	cursor: pointer;
}


h2 {
	margin-top: 3em;
	margin-bottom: -0.1em;
	margin-left: 0;
	color: rgb(71, 23, 116);
}

.list-divider {
	background-color: blueviolet;
	width: 25%;
	min-width: 16em;
	height: 1px;
	color: white;
	margin-bottom: 1em;
}

.btn-delete {
	margin-left: 2em;
}

.btn-restore {
	margin-left: 1em;
	outline: none;
	border-radius: 5px;
	border-color: rgb(100, 32, 163);
	background-color: rgb(100, 32, 163);
	color: white;
	font-family: 'Roboto', sans-serif;
}

.rejected {
	text-decoration: line-through;
}

.modalWindow {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	margin-top: 0.5em;
	border: 1px solid black;
	border-radius: 6px;
	background-color: white;
	padding: 0;
	width: 8em;
	list-style: none;
	text-align: center;
}

.modalWindow hr {
	margin: 0;
	padding: 0;
}

.modalWindow a {
	display: block;
	cursor: pointer;
	padding: 0.5em 1em;
}

.modalWindow a:hover {
	font-weight: 600;
	text-shadow: 0 0 2px rgb(219, 167, 240);
}

.modalWindow-input {
	display: inline-flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	background-color: rgb(7, 15, 7);
}

#renameInput {
	outline: none;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px rgb(255, 255, 255);
	background-color: rgb(253, 254, 255);
	height: 1.5em;
	text-align: center;
	color: rgb(30, 9, 49);
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
}

#renameOk {
	margin-left: 1em;
	outline: none;
	border-radius: 15px;
	box-shadow: 0 0 5px 1px white;
	background-color: rgb(30, 9, 49);
	width: 4em;
	height: 3em;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
}

#renameCancel {
	margin-left: 1em;
	outline: none;
	border-radius: 15px;
	box-shadow: 0 0 5px 1px white;
	background-color: rgb(30, 9, 49);
	width: 4.5em;
	height: 3em;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
}