.input-container {
	text-align: center;
	margin-top: 4rem;
	width: 100%;
}

#input-field {
	width: 25%;
	font-size: 1em;
}

#btn-submit {
	width: 5%;
	font-size: 1em;

}

li {
	list-style: none;
	margin-bottom: 1em;
}

input[type="checkbox"] {
	margin-right: 0.8em;
}

h2 {
	margin-top: 2em;
}

.btn-delete {
	margin-left: 2em;
}

.btn-restore {
	margin-left: 2em;
}

.rejected {
	text-decoration: line-through;
}

.modalWindow {
	position: absolute;
	top: 0;
	left: 0;
	width: 8em;
	background-color: white;
	border: 1px solid black;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 0.5em;
	border-radius: 6px;
	
}



.modalWindow hr {
	padding: 0;
	margin: 0;
}

.modalWindow a {
	padding: 0.5em 1em;
	cursor: pointer;
	display: block;

}

.modalWindow a:hover {
	font-weight: 900;
}


.modalWindow-input {
	position: fixed;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(7, 15, 7);
	opacity: 0.9;

}

#renameInput{
	height: 2em;
	width: 35rem;
	font-size: 2.5em;
	border-radius: 10px;
	background-color: rgb(62, 67, 71);
	color: white;
	text-align: center;
}
#renameOk{
	height: 5.5rem;
	width: 5.5rem;
	margin-left: 1rem;
	border-radius: 10px;
	background-color: green;
}
#renameCancel{
	height: 5.5rem;
	width: 5.5rem;
	margin-left: 1rem;
	border-radius: 10px;
	background-color: yellowgreen;
}

